<!DOCTYPE html>
<html>

<head>
    <title>
        Takdanai Ittipak
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        .container {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 64px 64px;
        }

        .go-book {
            display: flex;
            padding: 24px 24px;
            border-radius: 24px;
            text-decoration: none;
            background-color: #AECFB7;
            color: black;
            font-size: 24px;
            font-weight: bold;
            transition: all 0.7s ease-out;
        }

        .go-book:hover {
            font-size: 32px;
            background-color: #AEC6CF;
            transition: all 0.7s ease-out;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>Welcome to Takdanai World</h1>
        <a class="go-book" href="/books">
            Go to Book Shop
        </a>
    </div>
</body>

</html>